{% extends 'base.html.twig' %}

{% block title %}Geeks{% endblock %}

{% block body %}
  <main>
    <div class="main-section">
      <div class="container">
        <div class="main-section-data">
          <div class="row">
            {% if app.user %}
            <div class="col-lg-3 col-md-4 pd-left-none no-pd">
              <div class="main-left-sidebar no-margin">
                <div class="user-data full-width">
                  <div class="user-profile">
                    <div class="username-dt">
                      <div class="usr-pic">

                        <img src="/uploads/{{ app.user.image }}" alt="{{ app.user.image }}" width="100" height="100">

                      </div>
                    </div>
                    <div class="user-specs">
                      <h3>{{ app.user.username }}</h3>
                      <span>Graphic Designer at Self Employed</span>
                    </div>
                  </div>
                  <ul class="user-fw-status">
                    <li>
                      <h4>Following</h4>
                      <span>34</span>
                    </li>
                    <li>
                      <h4>Followers</h4>
                      <span>155</span>
                    </li>
                    <li>
                      <a href="{{ path('profil', {'id': app.user.id}) }}">View Profil</a>
                    </li>
                  </ul>
                </div>


              </div>
            </div>

            <div class="col-lg-6 col-md-8 no-pd">
              <div class="main-ws-sec">
                <div class="post-topbar">
                  <div class="post-comment">
                    <div class="cm_img">
                      <img src="{{ asset('front/images/resources/bg-img4.png') }}" alt="" />
                    </div>
                    <div class="comment_box">
                      {{ form_start(form) }}
                      {{ form_widget(form.contenu , {'attr': {'class': 'contact_form_email input_field' , 'placeholder' : 'Post'}} ) }}

                      <button type="submit">Send</button>
                    </div>

                    {{ form_widget(form.file) }}

                    {{ form_end(form) }}
                  </div>
                </div>
              </div>
            {% endif %}

              {% for p in posts %}
              {% set a = 0 %}
              {% for c in comment %}
                {% if c.idpost.id == p.id %}
                  {% set a = a+1 %}
                {% endif %}
              {% endfor %}

              <div class="posts-section">
                <div class="post-bar">
                  <div class="post_topbar">
                    <div class="usy-dt">
                      <img src="{{ asset('front/images/resources/us-pic.png') }}" alt="" />
                      <div class="usy-name">
                        <h3>{{ p.idUser.username }}</h3>
                        <span
                        ><img src="{{ asset('front/images/clock.png') }}" alt="" /> {{ p.date|date('Y-m-d H:i:s') }}</span
                        >
                      </div>
                    </div>
                    <div class="ed-opts">
                      <a href="#" title="" class="ed-opts-open"
                      ><i class="la la-ellipsis-v"></i
                        ></a>
                      <ul class="ed-options">
                        <li><a href="#" title="">Edit Post</a></li>
                        <li><a href="#" title="">Unsaved</a></li>
                        <li><a href="#" title="">Unbid</a></li>
                        <li><a href="#" title="">Close</a></li>
                        <li><a href="#" title="">Hide</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="epi-sec">
                    {% if app.user %}
                      {% if app.user.id == p.idUser.id %}
                        <ul class="bk-links">
                          <li>
                            <a href="{{ path('post_edit', {'id': p.id}) }}" title=""
                            ><i class="la la-pencil"></i
                              ></a>
                          </li>
                          <li>
                            <a href="{{ path('post_delete', {'id': p.id}) }}" title=""
                            ><i class="la la-remove"></i
                              ></a>
                          </li>
                        </ul>
                      {% endif %}
                    {% endif %}
                  </div>
                  <div class="job_descp">
                    <p>
                      {{p.contenu }}<br>
                      <a href="#" title="">view more</a>
                    </p>
                  </div>
                  <div class="job-status-bar">
                    {% if app.user %}
                      <ul class="like-com">
                        <li>
                          <a href="{{ path('comment_new', {'id': p.id}) }}" class="com"
                          ><i class="fas fa-comment-alt"></i> Comment
                            {{ a }}</a
                          >
                        </li>
                      </ul>
                    {% endif %}
                    <a href="#"><i class="fas fa-eye"></i>Views {{ p.nbrvue }}</a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-3 pd-right-none no-pd">
            <div class="right-sidebar">
              <div class="right-sidebar">
                <div class="widget widget-about">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">

                      {% set i = 1 %}
                      {% for publicity in publicities %}
                        {% if publicity.etat %}

                          <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"></li>
                          {% set i = i+1 %}
                        {% endif %}
                      {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                      {% set k = 0 %}
                      {% for publicity in publicities %}
                        {% if publicity.etat %}

                          <div class="carousel-item {% if k < 1 %}active {% set k = 1 %} {% endif %} ">
                            <img class="d-block w-100" height="250px" src="/uploads/{{publicity.image }}" alt="" />
                            <h3>{{publicity.content }}</h3>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
