{% extends 'base.back.html.twig' %}

{% block title %}Publicite index{% endblock %}

{% block main %}

<div class="container">
    <h1>Publicite index</h1>
    <a href="{{ path('publicite_new') }}"  class="btn btn-success">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Image</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publicite in publicites %}
            <td>
                <td>{{ publicite.id }}</td>
                <td>{{ publicite.content }}</td>
                <td>{{ publicite.dateDebut ? publicite.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ publicite.dateFin ? publicite.dateDebut|date('Y-m-d') : '' }}</td>
                <td><img src="/uploads/{{ publicite.image }}" alt="{{ publicite.image }}" width="150" height="150"></td>
                {% if publicite.etat %}
                    <td><button class="btn btn-outline-success disabled">{{ publicite.etat ? 'active' : 'inactive' }}</button></td>
                {% endif %}
                {% if publicite.etat == false %}
                    <td><button class="btn btn-outline-danger disabled">{{ publicite.etat ? 'active' : 'inactive' }}</button></td>
                {% endif %}

                <td>
                    <a class="btn btn btn-warning" href="{{ path('publicite_show', {'id': publicite.id}) }}">show</a>
                    <a class="btn btn btn-danger" href="{{ path('publicite_edit', {'id': publicite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
{% endblock %}
