{% extends 'base.html.twig' %}
{% set queryParams = app.request.query.all %}

{% block title %}Tournoi{% endblock %}

{% block body %}

    <style>
        * {
            font-family: "Roboto";
            list-style: none;
            margin: 0;
            padding: 0;
            text-decoration: none;
            letter-spacing: 1px;
            box-sizing: border-box;
        }

        .block {
            margin: 20px;
            border-radius: 4px;
            width: 280px;
            min-height: 430px;
            background: #fff;
            padding: 23px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            box-shadow: 0 2px 55px rgba(0,0,0,0.1);
        }
        .top {
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 10px;
        }
        .top ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
        .top a {
            color: #9e9e9e;
        }
        .top a:hover {
            color: #c7ccdb;
        }
        .converse {
            padding: 2px 10px;
            border-radius: 20px;
            text-transform: uppercase;
            font-size: 14px;
        }
        .middle {
            margin-bottom: 40px;
        }
        .middle img {
            width: 100%;
        }
        .bottom {
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }
        .heading {
            font-size: 17px;
            text-transform: uppercase;
            margin-bottom: 5px;
            letter-spacing: 0;
        }
        .info {
            font-size: 14px;
            color: #969696;
            margin-bottom: 10px;
        }
        .style {
            font-size: 16px;
            margin-bottom: 20px;
        }
        .old-price {
            color: #f00;
            text-decoration: line-through;
        }
        h1{
            font-size:70px;
        }

    </style>
<div class="heading" style="margin-left:10cm">
                <h1><strong class="text-danger">Tournoi</strong></h1>
</div>
<div class="info" style="margin-left: -3cm">
                <p>Filtrer</p>
                <form id="filters">
                    {% for category in categorys %}
                        {# On vérifie si la catégorie est dans les paramètres #}
                        {% if queryParams is not empty and queryParams.categorys is defined %}
                            {% set checked = (category.id in queryParams.categorys) ? "checked" : "" %}
                        {% else %}
                            {% set checked = "" %}
                        {% endif %}

                        <p><input type="checkbox" name="categorys[]" id="cat{{category.id}}" value="{{category.id}}" {{ checked }} >
                            <label for="cat{{category.id}}">{{category.Type}}</label></p>
                    {% endfor %}
                    <input type="hidden" name="page" value="{{page}}">

                </form>
            </div>
<div class="container">
    <div class="grix xs1 sm5 gutter-0 card">
        <div class="col-xs1">
            <div class="col-xs1 col-sm4" id="content">
                {% include "tournoi/index_content.html.twig" %}
            </div>
        </div>
    </div>
    </div>
    <script src="{{ asset('js/filters.js') }}"></script>
{% endblock %}
