{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}


{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    <div class="col-lg-12">
        {{ form_row(form.name) }}
    </div>
    <div class="col-lg-12">
        {{ form_row(form.description) }}
    </div>
    <div class="col-lg-12">
        {{ form_row(form.lieu) }}
    </div>
    <div class="col-lg-12">
        {{ form_row(form.dateDebut) }}
    </div>
    <div class="col-lg-12">
        {{ form_row(form.dateFin) }}
    </div>
    <div class="col-lg-12">
        {{ form_row(form.category) }}
    </div>
    <div class="col-lg-12">
        {{ form_row(form.prix) }}
    </div>
    <div class="col-lg-12">
        {{ form_row(form.nbParticipants) }}
    </div>
    <div class="col-lg-12">
        {{ form_row(form.img) }}
    </div>
    <div class="col-lg-12">
        {{ form_row(form.url) }}
    </div>
        <button class="btn" style="color:#004a59">{{ button_label|default('Save') }}</button>
        <a class="btn" style="color:#004a59" href="{{ path('event_index') }}">Cancel</a>
{{ form_end(form) }}