{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
  <link rel="stylesheet" type="text/css" href="{{asset('css/style1.css')}}" />
<main>
<div class="main-section">
<div id="content" class="site-content hfeed site" style="margin: 0px">
  <div id="primary" class="container">
    <div class="primary-content-wrapper">
      
        

      <div class="post-st">
          <ul>
              <li>
              <a class="active" href="{{ path('event_new') }}" title=""
              style="margin-bottom:10px; margin-right: 100px">Create Event</a>
              </li>
          </ul>
      </div>

      <div id="ajax-filter-panel" class="responsive-flex">
        <div class="ui-block-title" style="background-color: #fff; margin-bottom: 10px">

          {{ form_start(form) }}
          <div class="w-select">
            <div class="title">Filter By:</div>
          </div>
          <div class="w-select  btn-group ">
            {{ form_row(form.mots) }}
          </div>
          <div class="w-select  btn-group">
            {{ form_row(form.category) }}
          </div>
          <div class="w-select  btn-group">
            {{ form_row(form.Search) }}
          </div>
          {{ form_end(form) }}

        </div>
      </div>


      <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="site-main content-main-full">
          <div class="post-list row  " style="margin: 0px -20px">
            {% for event in events %}
              {% if event.etat == 'enabled' %}
            <div class="col-xl-4 col-lg-4 col-md-6 may-contain-custom-bg ui-block ajax-col-equal-height shadow wc-block-grid" style="max-width:32.5%;margin-right:4px;margin-left:4px;margin-bottom: 10px;padding: 0px;text-align: left">
              <div class="post-thumb" style="margin-top: 5px">
                <center><img src="/uploads/{{ event.img }}" alt="image event"style="display: block;
                                                                            margin-left: auto;
                                                                            margin-right: auto;
                                                                            width: auto;
                                                                            height: 243px;
                                                                            "></center>
              </div>
              <div class="post-content" >
                <div class="post_topbar" style="padding: 15px 15px 10px; background-color: #fff;">
                  <div class="usy-dt">
                    <img class="img-event" src="/uploads/{{ event.user.image }}" alt="{{ event.user.image }}"  width= 50px alt="">
                    <div class="usy-name">
                      <h3>{{ event.name }}</h3>
                      <span><img src="../images/clock.png" alt=""> {{ event.datePub ? event.datePub|date('Y-m-d H:i:s') : '' }} </span>
                    </div>
                  </div>
                  {% if app.user.id == event.user.id %}
                  <div class="ed-opts">
                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                    <ul class="ed-options">
                      <li><a href="{{ path('event_edit', {'id': event.id}) }}" title="">Edit Event</a></li>
                      <li><form method="post" action="{{ path('event_delete', {'id': event.id}) }}" onsubmit="return confirm('Are you sure you want to delete this event?');">
                          <input type="hidden" name="_method" value="DELETE">
                          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
                          <button>Delete Event</button>
                        </form></li>
                      <li><a href="#" title="">Report Event</a></li>
                    </ul>
                  </div>
                  {% endif %}
                </div>
                <div class="epi-sec" style="padding: 0px 15px 0px; background-color: #fff;">
                  <ul class="descp" style="margin:0px 0px">
                    <li><img src="../images/icon9.png" alt=""><span>{{ event.lieu }}</span></li>
                    <li><img src="../images/icon10.png" alt=""><span>{{ event.dateDebut ? event.dateDebut|date('Y-m-d H:i:s') : '' }}</span></li>
                    <li><img src="../images/icon10.png" alt=""><span>{{ event.dateFin ? event.dateFin|date('Y-m-d H:i:s') : '' }}</span></li>

                  </ul>
                  {#<ul class="bk-links">
                    
                    <li><a href="{{ path('add_participation', {'id': event.id}) }}" title="" class="bid_now">Participer</a></li>
                  </ul>#}
                </div>
                <div class="job_descp" style="padding: 0px 20px 0px; background-color: #fff;">
                  {#<h3>Simple Classified Site</h3>#}
                  
                  <div style="max-width: 420px; margin: 38px auto;">
                  <p style="overflow: hidden !important; display: -webkit-box !important; -webkit-line-clamp: 3 !important; -webkit-box-orient: vertical !important;">
                  {{ event.description |raw}}<a href="#" title=""></a></p>
                  </div>
                  <ul class="job-dt" style="margin-bottom:5px">
                    {% if (event.prix == 0 ) %} 
                      <li><span>Gratuit</span></li>
                        {% else %}
                      <li><span>{{ event.prix }}DT</span></li>
                    {% endif %} 
                    <li class="bk-links"><a style="font-size:16px; padding:0px 10px" href="{{ path('event_show', {'id': event.id}) }}" title="" class="bid_now">Afficher</a></li>
                  </ul>
                </div>
                <div class="job-status-bar" style="padding: 0px 30px 10px; background-color: #fff;">
                  <ul class="like-com">
                    <li>
                      <a href="#" class="active"><i class="fas fa-heart"></i> Like</a>
                      <img src="../images/liked-img.png" alt="">
                      <span>25</span>
                    </li>
                    <li><a href="#" class="com"><i class="fas fa-comment-alt"></i> Comments 15</a></li>
                  </ul>
                </div>
              </div>
            </div>
              {% endif %}
            {% endfor %}
          </div>
          </div>
        </div>

    </div>
  </div>
</div>
  <a style="">{{ knp_pagination_render(events) }}</a>

{% endblock %}
