{% extends 'base.back.html.twig' %}

{% block title %}New Category{% endblock %}

{% block main %}

    <h1>Create new Category</h1>

<table  class="table">

    <tr>

                <th>{{ form_errors(form.Type ) }}</th>
        <th style="width: 20px"> {{ form_label(form.Type ,"Nom du tournoi") }}</th>
        <th> {{ form_widget(form.Type ) }}</th>
    </tr>
<tr>
    <th><a href="{{ path('category_index') }}">back to list</a></th>

</tr>
</table>

    {{ include('category/_form.html.twig') }}

{% endblock %}
