

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{asset('css/animate.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/line-awesome.css')}}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{asset('css/line-awesome-font-awesome.min.css')}}"
    />
    <link
      href="{{asset('vendor/fontawesome-free/css/all.min.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" type="text/css" href="{{asset('css/font-awesome.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('lib/slick/slick.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('lib/slick/slick-theme.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/responsive.css')}}" />
      {% endblock %}

        {% block javascripts %}
    <script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/popper.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/slick/slick.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/script.js')}}"></script>     
       {% endblock %}

    </head>
    <body>

<div class="sign-in">

    <div class="wrapper">
      <div class="sign-in-page">
        <div class="signin-popup">
          <div class="signin-pop">
            <div class="row">
              <div class="col-lg-6">
                <div class="cmp-info">
                  <div class="cm-logo">
                    <img src="images/cm-logo.png" alt="" />
                    <p>
                      Workwise, is a global freelancing platform and social
                      networking where businesses and independent professionals
                      connect and collaborate remotely
                    </p>
                  </div>
                  <img src="images/cm-main-img.png" alt="" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="login-sec">
                  <ul class="sign-control">
                    <li data-tab="tab-1" class="current">
                      <a href="#" title="">Sign in</a>
                    </li>
                    <li data-tab="tab-2"><a href="#" title="">Sign up</a></li>
                  </ul>
                  {% block body %}
                  <div class="sign_in_sec current" id="tab-1">
                    <h3>Sign in</h3>
                    <form method="post" class="mt-5">
                      <fieldset>
                        <legend>Connectez vous</legend>

                        {% if error %}
                          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                          <div class="mb-3">
                            Bonjour {{ app.user.username }} <a class="btn btn-sm btn-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                          </div>
                        {% else %}
                          <div class="row">
                            <div class="col-12 mt-3">
                              <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus placeholder="pseudo">
                            </div>
                            <div class="col-12 mt-3 mb-3">
                              <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="mot de passe">
                            </div>
                          </div>
                          <button class="btn btn-success" type="submit">
                            Connexion
                          </button>
                        {% endif %}

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                                <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                        </div>
                        #}
                      </fieldset>
                    </form>
                    {% endblock %}
                    <div class="login-resources">
                      <h4>Login Via Social Account</h4>
                      <ul>
                        <li>
                          <a href="#" title="" class="fb"
                            ><i class="fa fa-facebook"></i>Login Via Facebook</a
                          >
                        </li>
                        <li>
                          <a href="#" title="" class="tw"
                            ><i class="fa fa-twitter"></i>Login Via Twitter</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="sign_in_sec" id="tab-2">
                    <div class="signup-tab">
                      <i class="fa fa-long-arrow-left"></i>
                      <h2>
                        <a
                          href="https://gambolthemes.net/cdn-cgi/l/email-protection"
                          class="__cf_email__"
                          data-cfemail="cda7a2a5a3a9a2a88da8b5aca0bda1a8e3aea2a0"
                          >[email&#160;protected]</a
                        >
                      </h2>

                    </div>
                    <div class="dff-tab current" id="tab-3">
                      <form>
                        <div class="row">
                          <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                              <input
                                type="text"
                                name="name"
                                placeholder="Full Name"
                              />
                              <i class="la la-user"></i>
                            </div>
                          </div>
                          <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                              <input
                                type="text"
                                name="country"
                                placeholder="Country"
                              />
                              <i class="la la-globe"></i>
                            </div>
                          </div>
                          <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                              <select>
                                <option>Category</option>
                                <option>Category 1</option>
                                <option>Category 2</option>
                                <option>Category 3</option>
                                <option>Category 4</option>
                              </select>
                              <i class="la la-dropbox"></i>
                              <span><i class="fa fa-ellipsis-h"></i></span>
                            </div>
                          </div>
                          <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                              <input
                                type="password"
                                name="password"
                                placeholder="Password"
                              />
                              <i class="la la-lock"></i>
                            </div>
                          </div>
                          <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                              <input
                                type="password"
                                name="repeat-password"
                                placeholder="Repeat Password"
                              />
                              <i class="la la-lock"></i>
                            </div>
                          </div>
                          <div class="col-lg-12 no-pdd">
                            <div class="checky-sec st2">
                              <div class="fgt-sec">
                                <input type="checkbox" name="cc" id="c2" />
                                <label for="c2">
                                  <span></span>
                                </label>
                                <small
                                  >Yes, I understand and agree to the workwise
                                  Terms & Conditions.</small
                                >
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 no-pdd">
                            <button type="submit" value="submit">
                              Get Started
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footy-sec">
          <div class="container">
            <ul>
              <li><a href="help-center.html" title="">Help Center</a></li>
              <li><a href="about.html" title="">About</a></li>
              <li><a href="#" title="">Privacy Policy</a></li>
              <li><a href="#" title="">Community Guidelines</a></li>
              <li><a href="#" title="">Cookies Policy</a></li>
              <li><a href="#" title="">Career</a></li>
              <li><a href="forum.html" title="">Forum</a></li>
              <li><a href="#" title="">Language</a></li>
              <li><a href="#" title="">Copyright Policy</a></li>
            </ul>
            <p><img src="images/copy-icon.png" alt="" />Copyright 2019</p>
          </div>
        </div>
      </div>
    </div>
</div>

   </body>