{% extends 'base.back.html.twig' %}

{% block title %}Events Dashboard{% endblock %}

{% block main %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Liste des évènements</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Lieu</th>
                        <th>Date debut</th>
                        <th>Date fin</th>
                        <th>Nombre participants</th>
                        <th>User</th>
                        <th>Etat</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{ event.name }}</td>
                        <td>{{ event.lieu }}</td>
                        <td>{{ event.dateDebut ? event.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ event.dateFin ? event.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ event.nbParticipants }}</td>
                        <td>{{ event.user.username }}</td>
                        <td>{% if event.etat == 'enabled' %}Enabled{% else %}Disabled{% endif %}</td>
                        <td>
                            {% if event.etat == 'enabled' %}
                             <form method="post" action="{{ path('back_events_delete', {'id': event.id}) }}" onsubmit="return confirm('Are you sure you want to disable this event?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
                                <button>Disable</button>
                            </form>
                            {% endif %}
                            <a href="{{ path('back_events_show', {'id': event.id}) }}">Show</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}