{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Profil</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Photo de profil</th>
            <td><img src="/uploads/{{ utilisateur.image }}" alt="{{ utilisateur.image }}" width="100" height="100"></td>
        </tr>
        
        
        <tr>
            <th>Nickname</th>
            <td>{{ utilisateur.username }}</td>
        </tr>
        
        
        <tr>
            <th>Email</th>
            <td>{{ utilisateur.email }}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{ utilisateur.phoneNumber }}</td>
        </tr>
        
        
        </tbody>
    </table>

    <a class="btn btn-outline-primary mt-2" href="{{ path('membre') }}">Page membre</a>

    <a class="btn btn-warning mt-2" href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">Modifier</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}