{% extends 'base.html.twig' %}

{% block title %}Reports index{% endblock %}

{% block body %}
    <h1>Reports index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Object_id</th>
                <th>Etat</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.id }}</td>
                <td>{{ report.type }}</td>
                <td>{{ report.objectId }}</td>
                <td>{{ report.etat ? 'Yes' : 'No' }}</td>
                <td>{{ report.content }}</td>
                <td>
                    <a href="{{ path('reports_show', {'id': report.id}) }}">show</a>
                    <a href="{{ path('reports_edit', {'id': report.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reports_new') }}">Create new</a>
{% endblock %}
