{% extends 'base.html.twig' %}

{% block title %}Gamers index{% endblock %}

{% block body %}
<div class="container text-left">
    <div class="top-profiles">
                        <div class="pf-hd">
                          <h3>Top Gamers</h3>
                          <i class="la la-ellipsis-v"></i>
                        </div>   

    <table class="table">
        
        <tbody>
        {% for gamer in gamers %}
            <tr>
                <div class="profiles-slider">
                          <div class="user-profy">
                            <img src="/uploads/{{ gamer.playerphoto }}" alt="{{ gamer.playerphoto }}" width="60" height="60">
                            <h3>{{ gamer.name }}</h3>
                            <span>{{ gamer.description }}</span>
                            <ul>
                              <li>
                                <a href="#" title="" class="followw">Follow</a>
                              </li>
                              <li>
                                <a href="#" title="" class="envlp"
                                  ><img src="images/envelop.png" alt=""
                                /></a>
                              </li>
                              <li>
                                <a href="#" title="" class="hire">hire</a>
                              </li>
                            </ul>
                            <a href="{{ path('gamers_list_show', {'id': gamer.id}) }}" title="">View Profile</a>
                          </div>
            </tr>
            </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    

    
{% endblock %}
