<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}

        <link rel="stylesheet" type="text/css" href="{{asset('css/animate.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.min.css')}}" />

        <link rel="stylesheet" type="text/css" href="{{asset('css/line-awesome.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{asset('css/multi.css')}}" />

        <link
                rel="stylesheet"
                type="text/css"
                href="{{asset('css/line-awesome-font-awesome.min.css')}}"
        />
        <link
                href="{{asset('vendor/fontawesome-free/css/all.min.css')}}"
                rel="stylesheet"
                type="text/css"
        />
        <link rel="stylesheet" type="text/css" href="{{asset('css/font-awesome.min.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{asset('lib/slick/slick.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{asset('lib/slick/slick-theme.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{asset('css/responsive.css')}}" />


    {% endblock %}

    {% block javascripts %}
        <script src="https://js.stripe.com/v3/"></script>

        <script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>


        <script type="text/javascript" src="{{asset('js/multi.js')}}"></script>

        <script type="text/javascript" src="{{asset('js/popper.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('lib/slick/slick.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/script.js')}}"></script>
        <script
                src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                crossorigin="anonymous">
        </script>



    {% endblock %}

</head>
<body>



{% block nav %}
    <header class="bg-dark">
        <div class="container">
            <div class="header-data">
                <div class="logo">
                    <a href="index.html" title=""
                    ><img src="{{asset('images/logo.png')}}" alt=""
                        /></a>
                </div>
                <div class="search-bar">
                    <form>
                        <input type="text" name="search" placeholder="Search..." />
                        <button type="submit"><i class="la la-search"></i></button>
                    </form>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="{{ path('home_page') }}" title="">
                                <span><img src="{{asset('images/icon1.png')}}" alt="" /></span>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{{path('product_front_index')}}" title="">
                                <span><img src="{{asset('images/icon3.png')}}" alt="" /></span>
                                shop
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('tournoi_index') }}" title="">
                                <span><img src="{{asset('images/icon3.png')}}" alt="" /></span>
                                Tournois
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('event_index') }}" title="">
                                <span><img src="{{asset('images/icon3.png')}}" alt="" /></span>
                                Evenements
                            </a>
                        </li>
                        <li>
                            <a href="profiles.html" title="">
                                <span><img src="{{asset('images/icon4.png')}}" alt="" /></span>
                                Profiles
                            </a>
                            <ul>
                                <li>
                                    <a href="{{ path('profil') }}" title="">User Profile</a>
                                </li>
                                <li>
                                    {% if app.user %}
                                        <a href="{{ path('membre') }}">Page membre</a>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('admin') }}">Page admin</a>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="jobs.html" title="">
                                <span><img src="{{asset('images/icon5.png')}}" alt="" /></span>
                                Jobs
                            </a>
                        </li>
                        <li>
                            <a href="#" title="" class="not-box-openm">
                                <span><img src="{{asset('images/icon6.png')}}" alt="" /></span>
                                Messages
                            </a>
                            <div class="notification-box msg" id="message">
                                <div class="nt-title">
                                    <h4>Setting</h4>
                                    <a href="#" title="">Clear all</a>
                                </div>
                                <div class="nott-list">
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="{{asset('images/resources/ny-img1.png')}}" alt="" />
                                        </div>
                                        <div class="notification-info">
                                            <h3>
                                                <a href="messages.html" title="">Jassica William</a>
                                            </h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit, sed do.
                                            </p>
                                            <span>2 min ago</span>
                                        </div>
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="{{asset('images/resources/ny-img2.png')}}" alt="" />
                                        </div>
                                        <div class="notification-info">
                                            <h3>
                                                <a href="messages.html" title="">Jassica William</a>
                                            </h3>
                                            <p>Lorem ipsum dolor sit amet.</p>
                                            <span>2 min ago</span>
                                        </div>
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="{{asset('images/resources/ny-img3.png')}}" alt="" />
                                        </div>
                                        <div class="notification-info">
                                            <h3>
                                                <a href="messages.html" title="">Jassica William</a>
                                            </h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit, sed do eiusmod tempo incididunt ut labore et
                                                dolore magna aliqua.
                                            </p>
                                            <span>2 min ago</span>
                                        </div>
                                    </div>
                                    <div class="view-all-nots">
                                        <a href="messages.html" title="">View All Messsages</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>


                        </li>




                    </ul>

                </nav>
                <div class="menu-btn">
                    <a href="#" title=""><i class="fa fa-bars"></i></a>
                </div>
                {% if app.user %}
                    <div class="user-account">
                        <div class="user-info">
                            <img src="/uploads/{{ app.user.image }}" alt="{{ app.user.image }}" width="30" height="30">
                            <a href="#" title="">{{ app.user.username }}</a>
                            <i class="la la-sort-down"></i>
                        </div>

                        <div class="user-account-settingss" id="users">
                            <h3>Online Status</h3>
                            <ul class="on-off-status">
                                <li>
                                    <div class="fgt-sec">
                                        <input type="radio" name="cc" id="c5">
                                        <label for="c5">
                                            <span></span>
                                        </label>
                                        <small>Online</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="fgt-sec">
                                        <input type="radio" name="cc" id="c6">
                                        <label for="c6">
                                            <span></span>
                                        </label>
                                        <small>Offline</small>
                                    </div>
                                </li>
                            </ul>
                            <h3>Custom Status</h3>
                            <div class="search_form">
                                <form>
                                    <input type="text" name="search">
                                    <button type="submit">Ok</button>
                                </form>
                            </div>
                            <h3>Setting</h3>
                            <ul class="us-links">
                                <li><a href="{{ path('utilisateur_edit', {'id': app.user.id}) }}">Account Setting</a></li>
                                <li><a href="#" title="">Privacy</a></li>
                                <li><a href="#" title="">Faqs</a></li>
                                <li><a href="#" title="">Terms & Conditions</a></li>
                            </ul>
                            <h3 class="tc"><a href={{ path('app_logout') }} title="">Logout</a></h3>
                        </div>
                    </div>
                {% else %}
                    <div class="user-account">
                        <div class="user-info">
                            <a href="#" title="">Login</a>
                            <i class="la la-sort-down"></i>
                        </div>
                        <div class="user-account-settingss" id="users">
                            <h3>Login via</h3>
                            <div class="social-buttons">
                                <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                            </div>
                            or
                            <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                    <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> keep me logged-in
                                    </label>
                                </div>
                            </form>
                            </br>
                            <div class="bottom text-center">
                                New here ? <a href="{{ path('utilisateur_new') }}"><b>Join Us</b></a>
                            </div>
                            </br>




                        </div>
                    </div>

                {% endif %}

            </div>
        </div>
    </header>
{% endblock %}


<div class="container">
    {% if message is defined %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endif %}
    {% block body %}
    {% endblock %}
</div>


{% block footer %}
    <footer>

    </footer>
{% endblock %}
</body>
</html>
