{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
    <style>
        li{
            color: red;


        }
    </style>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <div class="container text-center">
        <h1 >Complete  <strong class="text-danger">Your</strong> Order</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-info">

                    <div class="panel-body" >
                        {% if items | length == 0 %}
                            <h2>your cart is empty !</h2>
                        {% else %}
                            {% for item in items %}
                                <div class="row">
                                    <div class="col-xs-2"><img class="img-responsive" src="/uploads/{{ item.product.image }}">
                                    </div>
                                    <div class="col-xs-4">
                                        <h4 class="product-name"><strong>{{ item.product.name }}</strong></h4><h4><small>{{ item.product.description }}</small></h4>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="col-xs-4 text-right">
                                            <h6><strong>price:${{ item.product.price}}</strong></h6>
                                        </div>
                                        <div class="col-xs-4">
                                            <h6><strong>quantity:{{ item.quantity}}</strong></h6>
                                        </div>
                                        <div class="col-xs-4 text-right">
                                            <h6><strong>total:${{ item.product.price * item.quantity}}</strong></h6>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                            {% endfor %}

                        {% endif %}
                        <div class="col-xs-9">
                            <h4 class="text-right">Total <strong>${{ total }}</strong></h4>
                        </div>

                        <div class="col-xs-9">
                            {{ include('order/_form.html.twig') }}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
